@import url("https://fonts.googleapis.com/css?family=Acme");
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*============ SIVUJEN VÄRIT, KOKO JA MUITA MÄÄRITYKSIÄ ==========*/
section {
  width: 100%;
  min-height: 100vh;

}

#Etusivu {
  background: #0fb9b1;
  height: 100vh;
}

#Minä {
  background: #20bf6b;
  height: auto;
}

#Yhteystiedot {
  background: #eb3b5a;
  height: auto;
}

#Portfolio {
  background: #f7b731;
  height: auto;
}

#etusivu {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  max-width: 960px;
}

.article {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 150px;
  margin: auto;
  overflow: hidden;
  max-width: 960px;
}

#taidot {
  border: 2px solid white;
  border-radius: 1em;
  padding: 1em 8%;
  width: 84%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin-top: 2em;
  font-size: 1.125em;
  color: white;
}
/*============ MENUN MÄÄRITYKSET==========*/
.etusivu {
  background: #0fb9b1;
  border-radius: 25px;
}

.portfolio {
  background: #f7b731;
  border-radius: 25px;
}

.tietoa {
  background: #20bf6b;
  border-radius: 25px;
}

.yhteystiedot {
  background: #eb3b5a;
  border-radius: 25px;
}
/* Piilotetaan menu liian pienellä näytöllä jotta jää enemmän tilaa sisällölle eikä menu ole välttämätön */

@media only screen and (max-width: 768px) {
  #menu {
    display: none;
  }
}

#menu {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 100px;
  font-size: 1.5em;
}

ul {
  width: fit-content;
  list-style: none;
  text-align: center;
  margin: 0 auto;
  left: 0px;
  right: 0px;
}

ul li {
  margin-right: 30px;
  padding: 10px;
  display: inline-block;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}
/*============ TEKSTIEN JA OTSIKOIDEN MÄÄRITYKSIÄ==========*/
.teksti1 {
  margin: 1% 15% 1% 15%;
  text-align: center;
  font-size: 1.5em;
  font-family: font-family: 'Acme', sans-serif;
  color: ghostwhite;
}

address {
  text-align: center;
  font-size: 1.5em;
  font-family: font-family: 'Acme', sans-serif;
  color: ghostwhite;
}

h1, h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em
}

h1, h2, h3, h4 {
  color: #fff;
  margin-top: 50px;
  text-align: center;
  font-family: 'Acme', sans-serif;
  letter-spacing: 3px
}

a:not(li) {
  font-weight: 600;
}
/*============ SOME PALKKI==========*/
@media only screen and (min-width: 768px) {
  #some {
    position: fixed;
    top: 8px;
    right: 16px;
    font-size: 18px;
    z-index: 1;
    float: left;
  }
}

/* mobiililla/pienellä näytöllä siirretään some menu vasemmalle jotta sivusto on helpompi käyttää*/

@media only screen and (max-width: 767px) {
  #some {
    position: fixed;
    top: 8px;
    left: 16px;
    font-size: 18px;
    z-index: 1;
    float: left;
  }
}

#some a {
  display: block;
  text-align: center;
  padding: 8px;
  color: white;
  font-size: 20px;
  border-radius: 1em;
  margin: 5px;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.instagram {
  background: #f00075;
  color: white;
}
/*============ KUVIEN JA TEKSTISSÄ OLEVIEN IKONIEN MÄÄRITYKSET==========*/
.fa-html5 {
  color: white;
}

.fa-css3-alt {
  color: white;
}

#etusivu img {
  overflow: hidden;
  height: auto;
  width: 160px;
  border: 2px solid white;
  border-radius: 50%;
  position: inherit;
  left: 50%;
  margin-left: -80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

#pilvi {
  position: absolute;
  top: 0px;
  left: 0px;
  height: auto;
  width: 20%;
}

#pilvi2 {
  position: absolute;
  top: 10px;
  right: 3%;
  height: auto;
  width: 20%;
}

.thumb {
  height: 240px;
  border: 2px solid white;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.7);
}
/*============ PORTFOLION OSIOIDEN JA KORTTIEN MÄÄRITYKSET==========*/
@media only screen and (max-width: 600px) {
  .card, .card2 {
    display: none;
  }
}

.card, .card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  border-radius: 10px;
  /* 5px rounded corners */
  width: 45%;
  margin-top: 100px;
  background: rgba(250, 130, 49, 0.2);
  padding: 20px;
  height: 400px;
  font-size: 1.1em;
  color: ghostwhite;
}

.korttiteksti {
  float: left;
}

.korttiteksti2 {
  float: right;
}
@media only screen and (min-width: 600px) {
    .korttiteksti2, .korttiteksti {  
        overflow: hidden;
    }
}
.korttiteksti2, .korttiteksti {
  width: 35%;
  margin-top: 100px;
  height: 400px;
  padding: 20px;
  text-align: left;
  font-size: 1.125em;
  color: black;
}

.card {
  float: right;
}

.card2 {
  float: left;
}

img {
  border-radius: 10px 10px 0 0;
  margin: auto;
  width: 100%;
  height: auto;
  display: block;
}
/*============ LOMAKKEEN MÄÄRITYKSET==========*/
@media only screen and (max-width: 768px) {
  form {
    /* piilotetaan lomake mikäli näyttö on liian pieni*/
    display: none;
  }
  #formteksti {
    display: none;
  }
}

#formteksti {
  text-align: center;
  color: white;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 2em;
  border: 2px solid white;
  border-radius: 1em;
  color: white;
  margin-top: 4em;
  margin-bottom: 4em;
  height: 21vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

form div+div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border-radius: 1em;
  border: 1px solid #999;
  padding: 6px;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 4em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: .5em;
  border-radius: 1em;
  background: white;
  padding: 10px;
  font-weight: 600;
}

